.row.expanded
    #regsam.columns.small-12
        img(src='img/S@M.png', alt='logo thing')
.row.expanded
    a(href='https://www.facebook.com/groups/desgasmash/')
        i.fi-social-facebook.columns.small-12