doctype html
html.no-js(lang='en', dir='ltr')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title DU Smash Ladder
		link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet')
		link(rel='stylesheet', href='/css/foundation-icons.css')
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/socket.io/socket.io.js')
		script.
			window.onload = function(){var gameData = JSON.parse('!{history}');
			var html = "<table><thead><tr><th>Game</th><th>Player One</th><th>Player Two</th><th>Set Count<th>Event Name</th></tr></thead><tbody id=\'smashFourTableBody\'>";
			for (var i = 0; i < gameData.length; i++){
				html += "<tr><td>" + gameData[i].game + "</td><td><a href=\'/user/" + gameData[i].reporter.username + "/'>" + gameData[i].reporter.username + "</a></td><td><a href=\'/user/" + gameData[i].opponent.username + "/'>" + gameData[i].opponent.username + "</a></td><td>" + gameData[i].reporter.wins.toString() + ":" + gameData[i].opponent.wins.toString() + "</td><td>" + gameData[i].event + "</td></tr>";
				}
			html += "</tbody></table>";
			document.getElementById("score").innerHTML = html;};
			
	body
		include header
		section.row
			#score.columns.small-12
		include footer
		script(src='/js/vendor/jquery.js')
		script(src='/js/vendor/what-input.js')
		script(src='/js/vendor/foundation.js')
		script(src='/js/app.js')
