doctype html
html.no-js(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DU Smash Ladder
    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet')
    link(rel='stylesheet', href='css/foundation-icons.css')
    link(rel='stylesheet', href='css/foundation.css')
    link(rel='stylesheet', href='css/app.css')
    script(src='/socket.io/socket.io.js')
    script.
      var socket = io();
      socket.on('refreshScoreboard', function(data){
      var game = data['scoreboardJson']['game'];
      var json = data['scoreboardJson']['data'];
      document.getElementById(game + 'TableBody').innerHTML = "";
      for(var i = 0; i < json.length; i++){
      if(game == 'smashFour'){
      document.getElementById(game + 'TableBody').innerHTML += "<tr><td>" + (i + 1).toString() + "</td><td>" + json[i]['name'] + "</td><td class=\"hide-for-small-only\"><img style=\"height:32px;width:32px;\" src='img/" + game + "/" + json[i][game + 'Main'] + ".png'\></td><td>" + json[i][game + 'Wins'] + "</td><td>" + json[i][game + 'Losses'] + "</td><td>" + json[i][game + 'Rating'] + "</td></tr>";
      }
      else{
      document.getElementById(game + 'TableBody').innerHTML += "<tr><td>" + (i + 1).toString() + "</td><td>" + json[i]['name'] + "</td><td class=\"hide-for-small-only\"> <img src='img/" + game + "/" + json[i][game + 'Main'] + ".png'\></td><td>" + json[i][game + 'Wins'] + "</td><td>" + json[i][game + 'Losses'] + "</td><td>" + json[i][game + 'Rating'] + "</td></tr>";
      }
      }
      });
  body
    header#spec.row.expanded.small-collapse.medium-uncollapse
      nav
        .title-bar(data-responsive-toggle='example-menu', data-hide-for='medium')
          section.row.small-collapse
            .columns.small-10
              h1 D.U. Smash Ladder
            .columns.small-2.text-right
              button.menu-icon(type='button', data-toggle='')
              .title-bar-title
        #example-menu.top-bar
          .row.hide-for-small-only.expanded
            h1.columns.medium-12 Drexel University Smash Ladder
          #cenav.row.expanded
            ul.menu.vertical.medium-horizontal.columns.medium-12(data-responsive-menu='drilldown medium-dropdown')
              li
                a(href='/') Scoreboard
              li
                a(href='/register') Register
              li
                a(href='/report') Report Match
            #mag.row.hide-for-medium
              ul.columns.small-12.no-bullet
                li.columns.small-4(data-magellan-arrival='smashFour')
                  a#smag(href='#smashFour') Smash 4
                li.columns.small-4(data-magellan-arrival='melee')
                  a#mmag(href='#melee') Melee
                li.columns.small-4(data-magellan-arrival='pm')
                  a#pmag(href='#pm') Project M
    #hide.hide-for-medium
    #logdiv
      if (typeof(user) == 'undefined')
        a(href='/login')
          #log.columns.small-12.text-center Login
      else
        a(href='/logout')
          #log.columns.small-12.text-center Logout
    .row
      a(name='smashFour')
      h2#rank.columns.small-12(data-magellan-destination='smashFour') Rankings - Smash 4
    section.row
      #score.columns.small-12
        table
          thead
            tr
              th Rank
              th Tag
              th.show-for-medium Main
              th Wins
              th Losses
              th Rating
          tbody#smashFourTableBody
            tr
              td ####
              td ####
              td.show-for-medium
                img(src='', alt='')
              td ####
              td ####
              td ####
    #mag.row.show-for-medium
      ul.columns.small-12.no-bullet
        li.columns.small-4(data-magellan-arrival='smashFour')
          a#smag(href='#smashFour') Smash 4
        li.columns.small-4(data-magellan-arrival='melee')
          a#mmag(href='#melee') Melee
        li.columns.small-4(data-magellan-arrival='pm')
          a#pmag(href='#pm') Project M
    .row
      a(name='melee')
      h2#mrank.columns.small-12(data-magellan-destination='melee') Rankings - Melee
    section.row
      #score.columns.small-12
        table
          thead
            tr
              th Rank
              th Tag
              th.show-for-medium Main
              th Wins
              th Losses
              th Rating
          tbody#meleeTableBody
            tr
              td ####
              td ####
              td.show-for-medium
                img(src='', alt='')
              td ####
              td ####
              td ####
    #mag.row.show-for-medium
      ul.columns.small-12.no-bullet
        li.columns.small-4(data-magellan-arrival='smashFour')
          a#smag(href='#smashFour') Smash 4
        li.columns.small-4(data-magellan-arrival='melee')
          a#mmag(href='#melee') Melee
        li.columns.small-4(data-magellan-arrival='pm')
          a#pmag(href='#pm') Project M
    .row
      a(name='pm')
      h2#prank.columns.small-12(data-magellan-destination='pm') Rankings - Project M
    section.row
      #score.columns.small-12
        table
          thead
            tr
              th Rank
              th Tag
              th.show-for-medium Main
              th Wins
              th Losses
              th Rating
          tbody#pmTableBody
            tr
              td ####
              td ####
              td.show-for-medium
                img(src='', alt='')
              td ####
              td ####
              td ####
    #mag.row.show-for-medium
      ul.columns.small-12.no-bullet
        li.columns.small-4(data-magellan-arrival='smashFour')
          a#smag(href='#smashFour') Smash 4
        li.columns.small-4(data-magellan-arrival='melee')
          a#mmag(href='#melee') Melee
        li.columns.small-4(data-magellan-arrival='pm')
          a#pmag(href='#pm') Project M
    .row.expanded
      #regsam.columns.small-12
        img(src='img/S@M.png', alt='logo thing')
    .row.expanded
      a(href='https://www.facebook.com/groups/dragoonsSMASH/')
        i.fi-social-facebook.columns.small-12
    script(src='js/vendor/jquery.js')
    script(src='js/vendor/what-input.js')
    script(src='js/vendor/foundation.js')
    script(src='js/app.js')
