doctype html
html.no-js(lang='en', dir='ltr')
	head
		meta(charset='utf-8')
		meta(http-equiv='x-ua-compatible', content='ie=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title DU Smash Ladder
		link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet')
		link(rel='stylesheet', href='/css/foundation-icons.css')
		link(rel='stylesheet', href='/css/foundation.css')
		link(rel='stylesheet', href='/css/app.css')
		script(src='/socket.io/socket.io.js')
		script.
			var socket = io();
			var userData = JSON.parse('!{userJson}');
			var currentUser = '!{user}';
			function changePass(){
			if(document.getElementById('passtwo').value == document.getElementById('passthree').value && document.getElementById('passthree').value != ''){
			socket.emit('editInfo', {username: currentUser, password: document.getElementById('passone').value, newPass: document.getElementById('passtwo').value});
			window.location = "/logout";
			}else{alert("Passwords do not match");}}
			function changeDisplay(){
			if(document.getElementById('passfour').value != '' && document.getElementById('newname').value != ''){
			socket.emit('editInfo', {username: currentUser, password: document.getElementById('passfour').value, newName: document.getElementById('newname').value});
			window.location = "/";
			}else{alert("Please fill in all the fields");}}
			function isEmpty(obj){return Object.keys(obj).length === 0;}
			window.onload = function buildData(){
			var mainHTML = "<img class='columns small-12 medium-6' src='/img/smashball.png' alt=''>";
			var count = 0;
			var mains = [];
			var games = [];
			if(userData.meleeRating){
			mains.push(userData.meleeMain);
			games.push('melee');
			}
			if(userData.smashFourRating){
			mains.push(userData.smashFourMain)
			games.push('smashFour');
			}
			if(userData.pmRating){
			mains.push(userData.pmMain)
			games.push('pm');
			}
			if(mains != []){
			var choice = Math.floor(Math.random()*mains.length);
			mainHTML = "<img class='columns small-12 medium-6' style='height:250px;width:auto' src='/img/profileImages/" + games[choice] + '/' + mains[choice] + ".png' alt=''>";
			}
			document.getElementById('mainimg').innerHTML = mainHTML;
			document.getElementById('regtag').innerHTML = "<h2 class=\"columns small-12 medium-6\">" + userData.displayName + "</h2>";
			var userInfo = "<section class=\"row\"><div id=\"score\" class=\"columns small-12\"><table><thead><tr><th class=\"text-center\">Game</th><th class=\"text-center\">Rating</th><th class=\"text-center\">Main</th><th class=\"text-center\">Wins</th><th class=\"text-center\">Losses</th><th class=\"text-center\">Win Rate</th></tr></thead><tbody id=\'smashFourTableBody\'>";
			if(userData.meleeRating){
			userInfo += "<tr><td>Melee</td><td>" + userData.meleeRating + "</td><td><img src='/img/characterIcons/melee/" + userData.meleeMain + ".png'\></td><td>" + userData.meleeWins + "</td><td>" + userData.meleeLosses + "</td><td>" + (100 * userData.meleeWins / (userData.meleeWins + userData.meleeLosses)).toFixed(2) + "%</td></tr>"
			}
			if(userData.pmRating){
			userInfo += "<tr><td>Project M</td><td>" + userData.pmRating + "</td><td><img src='/img/characterIcons/pm/" + userData.pmMain + ".png'\></td><td>" + userData.pmWins + "</td><td>" + userData.pmLosses + "</td><td>" + (100 * userData.pmWins / (userData.pmWins + userData.pmLosses)).toFixed(2) + "%</td></tr>"
			}
			if(userData.smashFourRating){
			userInfo += "<tr><td>Smash 4</td><td>" + userData.smashFourRating + "</td><td><img  style=\"height:32px;width:32px;\" src=\'/img/characterIcons/smashFour/" + userData.smashFourMain + ".png\'\></td><td>" + userData.smashFourWins + "</td><td>" + userData.smashFourLosses + "</td><td>" + (100 * userData.smashFourWins / (userData.smashFourWins + userData.smashFourLosses)).toFixed(2) + "%</td></tr>"
			}
			userInfo += "</tbody></table></div></section>";
			document.getElementById('userInfo').innerHTML = userInfo;
			var div = "";
			if(userData.meleeMatchups){
			if(!isEmpty(userData.meleeMatchups)){
			div += "<section class=\"row\"><h2>Melee Matchups</h2><div id=\"score\" class=\"columns small-12\"><table><thead><tr><th class=\"text-center\">Against</th><th class=\"text-center\">Wins</th><th class=\"text-center\">Losses</th><th class=\"text-center\">Win Rate</th></tr></thead><tbody id=\'smashFourTableBody\'>"
			for(var key in userData.meleeMatchups){
			div += "<tr><td class=\"text-center\"><a href=\'/user/" + key + "\'>" + key + "</a></td><td class=\"text-center\">" + userData.meleeMatchups[key].wins + "</td><td class=\"text-center\">" +  userData.meleeMatchups[key].losses + "</td><td class=\"text-center\">" + (100 * userData.meleeMatchups[key].wins / (userData.meleeMatchups[key].wins + userData.meleeMatchups[key].losses)).toFixed(2) + "%</td>";
			}
			div += "</tbody></table></div></section><br><br><br>";
			}
			}
			if(userData.smashFourMatchups){
			if(!isEmpty(userData.smashFourMatchups)){
			div += "<section class=\"row\"><h2>Smash 4 Matchups</h2><div id=\"score\" class=\"columns small-12\"><table><thead><tr><th class=\"text-center\">Against</th><th class=\"text-center\">Wins</th><th class=\"text-center\">Losses</th><th class=\"text-center\">Win Rate</th></tr></thead><tbody id=\'smashFourTableBody\'>"
			for(var key in userData.smashFourMatchups){
			div += "<tr><td class=\"text-center\"><a href=\'/user/" + key + "\'>" + key + "</a></td><td class=\"text-center\">" + userData.smashFourMatchups[key].wins + "</td><td class=\"text-center\">" +  userData.smashFourMatchups[key].losses + "</td><td class=\"text-center\">" + (100 * userData.smashFourMatchups[key].wins / (userData.smashFourMatchups[key].wins + userData.smashFourMatchups[key].losses)).toFixed(2) + "%</td>";
			}
			div += "</tbody></table></div></section><br><br><br>";
			}
			}
			if(userData.pmMatchups){
			if(!isEmpty(userData.pmMatchups)){
			div += "<section class=\"row\"><h2>Project M Matchups</h2><div id=\"score\" class=\"columns small-12\"><table><thead><tr><th class=\"text-center\">Against</th><th class=\"text-center\">Wins</th><th class=\"text-center\">Losses</th><th class=\"text-center\">Win Rate</th></tr></thead><tbody id=\'smashFourTableBody\'>"
			for(var key in userData.pmMatchups){
			div += "<tr><td class=\"text-center\"><a href=\'/user/" + key + "\'>" + key + "</a></td><td class=\"text-center\">" + userData.pmMatchups[key].wins + "</td><td class=\"text-center\">" +  userData.pmMatchups[key].losses + "</td><td class=\"text-center\">" + (100 * userData.pmMatchups[key].wins / (userData.pmMatchups[key].wins + userData.pmMatchups[key].losses)).toFixed(2) + "%</td>";
			}
			div += "</tbody></table></div></section><br><br><br>";
			}
			}
			document.getElementById('gameMatchups').innerHTML = div;
			div = "";
			if(userData.matchHistory){
			if(userData.matchHistory != []){
			div += "<section class=\"row\"><h2>Match History</h2><div id=\"score\" class=\"columns small-12\"><table><thead><tr><th class=\"text-center\">Game</th><th class=\"text-center\">Against</th><th class=\"text-center\">Wins</th><th class=\"text-center\">Losses</th><th class=\"text-center\">Rating Change</th><th class=\"text-center\">Event</th></tr></thead><tbody id=\'smashFourTableBody\'>"
			var tempGame = "";
			for(var i = 0; i < userData.matchHistory.length; i++){
			if(userData.matchHistory[i].game == 'pm'){tempGame = "Project M";}
			else if(userData.matchHistory[i].game == 'melee'){tempGame = "Melee";}
			else{tempGame = "Smash 4";}
			div += "<tr><td class=\"text-center\">" + tempGame + "</td><td class=\"text-center\"><a href=\'/user/" + userData.matchHistory[i].playedAgainst + "\'>" + userData.matchHistory[i].playedAgainst + "</a></td><td class=\"text-center\">" +  userData.matchHistory[i].gamesWon + "</td><td class=\"text-center\">" + userData.matchHistory[i].gamesLost + "</td><td class=\"text-center\">" + userData.matchHistory[i].ratingChange + "</td><td class=\"text-center\">" + userData.matchHistory[i].event + "</td>";
			}
			div += "</tbody></table></div></section><br><br><br>";
			}
			}
			document.getElementById('matchHistory').innerHTML = div;
			div = "";
			if(userData.username == currentUser){
			document.getElementById('hideIt').style.display='inline';
			}
			}
	body
		include header
		#pro.row
			#regtag
				h2.columns.small-12.medium-6 GamerTag
			#main
				#mainimg.columns.small-12.medium-6
					img.columns.small-12.medium-6(src='/img/smashball.png', alt='')
		#userInfo
		#gameMatchups
		#matchHistory
		#hideIt(style='display:none;')
			#reg.row.expanded
				h2.columns.small-12 Change Your Tag
			form#newform.columns.small-12.medium-8.medium-offset-2(action='', method='', enctype='')
				fieldset
					label(for='name') Display Name (Does not change your log in name):
					input#newname(type='text', name='name', onkeypress='return event.keyCode!=13', placeholder='Enter your new tag')
					input#passfour(type='password', name='name', onkeypress='return event.keyCode!=13', placeholder='Enter your password')
					input(type='button', value='Submit change', onclick='changeDisplay()')
			#reg.row.expanded
				h2.columns.small-12 Change Your Password
			form#newform.columns.small-12.medium-8.medium-offset-2(action='', method='', enctype='')
				fieldset
					label(for='name') Password
					input#passone(type='password', name='name', onkeypress='return event.keyCode!=13', placeholder='Enter your old password')
					input#passtwo(type='password', name='name', onkeypress='return event.keyCode!=13', placeholder='Enter your new password')
					input#passthree(type='password', name='name', onkeypress='return event.keyCode!=13', placeholder='Enter your new password again')
					input(type='button', value='Submit change', onclick='changePass()')

		include footer
		script(src='/js/vendor/jquery.js')
		script(src='/js/vendor/what-input.js')
		script(src='/js/vendor/foundation.js')
		script(src='/js/app.js')
