doctype html
html.no-js(lang='en', dir='ltr')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DU Smash Ladder
    link(href='https://fonts.googleapis.com/css?family=Arvo:400,700', rel='stylesheet')
    link(rel='stylesheet', href='/css/foundation-icons.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/socket.io/socket.io.js')
    script.
  body
    include header
    #reg.row.expanded
      h2.columns.small-12 Could not find user !{user}
    include footer
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/what-input.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/app.js')
